.home-footer {
  height: 36px;
  padding: 10px;
  display: flex;
  justify-content: center;
  white-space: pre;
  font-size: 16px;
  font-family: monospace;
  background-color: #24292e;
  color: white;
}

.footer-heart-icon {
  width: 20px;
}
