/**
 * @author Shyam Mittal
 * @email mittalshyam1007@gmail.com
 * @create date 2020-08-14 16:58:26
 * @modify date 2020-08-14 16:58:26
 * @desc [description]
 */

.home-body {
  flex: 1 1 auto;
  padding: 20px;
}

.custom-upload {
  display: flex;
  flex-direction: column;
}

.image-upload {
  max-width: 316px;
  align-self: center;
  min-width: 80px;
}

div.ui.input {
  margin: 16px;
  margin-left: 30px;
  margin-right: 30px;
}

button.ui.button {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #2ea44f;
  color: white;
}

.output-data {
  white-space: pre;
  font-size: 9px;
  display: flex;
  justify-content: center;
  overflow: auto;
  background-color: #f4f4f7;
}

.image-upload-container {
  display: flex;
  justify-content: center;
}

.column.output-data-column {
  line-height: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.characterize-it-button {
  flex: 1 1 auto;
}
